@page
@model Csharp3_A1.Pages.Menu.ChildPregnant.ChildModel
@{
	ViewData["Title"] = "Child";
}
<div class="text-left">

    <div class="container mt-2">
        <div class="row">
            <h2 class="m-2">Child</h2>
        </div>

        <div class="row mt-2">
            <!-- Content -->
            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/child_img1.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>Children can come out of nowhere</h4>
                        <p>Make sure you have child insurance!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/child_img2.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>We can help you</h4>
                        <p>Make sure your kids grow up smart - we can provide support through their developmental journey!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>