@page
@model Csharp3_A1.Pages.Menu.ChildPregnant.PregnantModel
@{
	ViewData["Title"] = "Pregnant";
}
<div class="text-left">

    <div class="container mt-2">
        <div class="row">
            <h2 class="m-2">Pregnant</h2>
        </div>

        <div class="row mt-2">
            <!-- Content -->
            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/pregnant_img1.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>Nearing the end of the journey</h4>
                        <p>We can help you prepare for the birth of your child</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/pregnant_img2.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>At the start of the journey</h4>
                        <p>Schedule your pregnancy checkups with us!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>