@page
@model Csharp3_A1.Pages.Menu.DiseasesAilments.DiseasesModel
@{
	ViewData["Title"] = "Diseases";
}
<div class="text-left">

    <div class="container mt-2">
        <div class="row">
            <h2 class="m-2">Diseases</h2>
        </div>

        <div class="row mt-2">
            <!-- Content -->
            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/diseases_img1.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>Get tested here</h4>
                        <p>Do you suspect you are suffering from a disease? We test for most diseases - take your test here!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/diseases_img2.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>Disease prevention research</h4>
                        <p>We do extensive disease prevention research</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>