@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">

    <div class="container mt-2">
        <div class="position-relative row">
            <!-- Content img -->
            <img src="~/images/content/index_hospital_final.jpg" class="img-fluid opacity-75" />

            <!-- Header -->
            <div class="position-absolute fixed-bottom mb-4 ms-3">
                <h2>Welcome to Our</h2>
                <h2>Hospital Management System</h2>
            </div>
        </div>

        <div class="row mt-2">
            <!-- Content txt-->
            <div class="col-md-8 mt-2">
                <div class="card m-2">
                    <div class="card-header">
                        <p class="lead">This is a prototype of the hospital management system. Here you can find general information, patient services and staff resources</p>
                    </div>
                </div>
                
                <div class="card m-2">
                    <div class="card-header">
                        <h4>Patient Services</h4>
                        <div class="card-body">
                            <p>Access patient portal to view patient information</p>
                        </div>
                    </div>
                </div>

                <div class="card m-2">
                    <div class="card-header">
                        <h4>Staff Resources</h4>
                        <div class="card-body">
                            <p>Staff members can view dashboard, reports and appointments aswell as manage patient records</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-2">
                <div class="card m-2">
                    <div class="card-header">
                        <h5>Latest Announcements</h5>
                        <div class="card-body">
                            <ul>
                                <li>COVID-19 vaccination campaign updates</li>
                                <li>New outpatient wing opening in Q4</li>
                                <li>Annual health awareness seminar scheduled</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
