@model Csharp3_A3.Models.Appointment
@{
}
<h2>Edit Appointment</h2>

<div>
	<label>Patient: </label>
	<input class="form-control" value="@Model.Patient.Name" readonly />
</div>

<div>
	<label>Staff: </label>
	<input class="form-control" value="@Model.Staff.Name" readonly />
</div>

<form method="post" asp-controller="Appointments" asp-action="EditAppointment">
	<div class="form-group">
		<label asp-for="Reason"></label>
		<input asp-for="Reason" class="form-control" />
		<span asp-validation-for="Reason" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="DateOfAppointment"></label>
		<input asp-for="DateOfAppointment" type="datetime-local" class="form-control" />
		<span asp-validation-for="DateOfAppointment" class="text-danger"></span>
	</div>

	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="PatientId" />
	<input type="hidden" asp-for="StaffId" />

	<button type="submit" class="btn btn-primary mt-2">Save</button>
	<a asp-controller="Appointments" asp-action="Index" class="btn btn-outline-primary mt-2">Cancel</a>
</form>