@page
@model Csharp3_A1.Pages.Menu.LifeHealth.WellnessModel
@{
	ViewData["Title"] = "Wellness";
}
<div class="text-left">

    <div class="container mt-2">
        <div class="row">
            <h2 class="m-2">Wellness</h2>
        </div>

        <div class="row mt-2">
            <!-- Content -->
            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/wellness_img1.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>Yoga - strong and calm</h4>
                        <p>Take a yoga-class with us - we have everything from beginner, intermediate to proficient!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/wellness_img2.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>Get mindful through meditation</h4>
                        <p>Do guided meditation in a hospital setting - we will make you calm enough to be admitted because of slow breathing!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>