@page
@model Csharp3_A1.Pages.Menu.ExaminationTreatment.ExaminationModel
@{
	ViewData["Title"] = "Examination";
}
<div class="text-left">

    <div class="container mt-2">
        <div class="row">
            <h2 class="m-2">Examination</h2>
        </div>

        <div class="row mt-2">
            <!-- Content -->
            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/examination_img1.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>We can examine every inch of you</h4>
                        <p>Get your physical here - nothing is beyond our reach!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/examination_img2.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>Make sure if something feels wrong</h4>
                        <p>High blood pressure? If not, you will have it after we have examined you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>