@page
@model Csharp3_A1.Pages.Menu.ExaminationTreatment.TreatmentsModel
@{
	ViewData["Title"] = "Treatments";
}
<div class="text-left">

    <div class="container mt-2">
        <div class="row">
            <h2 class="m-2">Treatments</h2>
        </div>

        <div class="row mt-2">
            <!-- Content -->
            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/treatments_img1.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>We have all kinds of pills</h4>
                        <p>There is a pill for almost any problem!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card m-2 w-100">
                    <img src="~/images/content/treatments_img2.jpg" class="card-img-top img-fluid opacity-75" />
                    <div class="card-body">
                        <h4>Natural medicine</h4>
                        <p>We also do many different kinds of weird herbal medicine - try at your own risk!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>